*,*::before,*::after{
    box-sizing: border-box;
}
body{
    font-family:"Microsoft JhengHei"
}
.container{
    max-width: 940px;
    margin: 0 auto;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a{
    display: block;
    text-decoration: none;
}