.success-main{
    background-image: url("https://bit.ly/2P7GhNd");
    background-repeat: no-repeat;
    margin-bottom: 60px;
    width: 100%;
    height: 460px;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    @include pad(){
        margin-bottom: 54px;
    }
}
.success-main a{
    color: $text-primary;
    background-color: $button-color;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    width: 50%;
    padding: 20px 0;
    @include pad(){
        width: 100% ;
        top: 100% ;
        position: absolute;
    }
}
.content{
    margin-bottom: 50px ;
    @include pad(){
        margin: auto 0 ;
    }
}
.progress-bar{
    position: relative ;
    margin-bottom: 30px ;
    .material-icons{
        color: $text-primary;
        margin-right: 58px;
        display: inline-block;
    }
    .border-left , .border-right{
        border-bottom: 1px solid $text-primary;
        width: 66px; 
        display: inline-block;
        position: absolute;
        top: 12px;
    }
    .border-left{
        left: 22px;
    }
    .border-right{
        left: 109px;
    }
}